<div class="container">
  <h1>Shipments List</h1>
  <% @shipments.each do |shipment| %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Shipment id</th>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Middle Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Weight</th>
          <th scope="col">Length</th>
          <th scope="col">Width</th>
          <th scope="col">Height</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row"><%= link_to  shipment.id, shipment %></th>
            <td><%= shipment.last_name %></td>
            <td><%= shipment.first_name %></td>
            <td><%= shipment.middle_name %></td>
            <td><%= shipment.phone %></td>
            <td><%= shipment.email %></td>
            <td><%= shipment.weight %></td>
            <td><%= shipment.length %></td>
            <td><%= shipment.width %></td>
            <td><%= shipment.height %></td>
            <td><%= shipment.origin %></td>
            <td><%= shipment.destination %></td>            
        </tr>
      </tbody>
    </table>
<% end %>
  <%= link_to 'Back', root_path %>
  </div>