<div class="container">
  <h1>Shipments List</h1>
  <%= paginate @shipments, window: 2 %>

    <table class="table" id="shipmentTable">
      <thead>
        <tr>
          <th scope="col" style="width: 5%"><%= link_to "ID", shipments_path(sort: 'id') %></th>
          <th scope="col"style="width: 10%">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Middle Name</th>
          <th scope="col">Weight</th>
          <th scope="col">Length</th>
          <th scope="col">Width</th>
          <th scope="col">Height</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col"><%= link_to "Created at", shipments_path(sort: 'date') %></th>
          <th scope="col"><%= link_to "Price", shipments_path(sort: 'price') %></th>
        </tr>
      </thead>
      <% @shipments.each do |shipment| %>
      <table class="table" id="shipmentTable">
      <tbody>
      
        <tr>
        
            <th scope="row" style="width: 5%"><%= link_to  shipment.id, shipment %></th>
            <td style="width: 7%"><%= shipment.last_name %></td>
            <td><%= shipment.first_name %></td>
            <td><%= shipment.middle_name %></td>
            <td><%= shipment.weight %></td>
            <td><%= shipment.length %></td>
            <td><%= shipment.width %></td>
            <td><%= shipment.height %></td>
            <td><%= shipment.origin %></td>
            <td><%= shipment.destination %></td> 
            <td><%= shipment.created_at.to_date %></td>     
            <%# <td><%= shipment.calculate_price[:price] %></td>          %>
        </tr>
      </tbody>
    </table>
    
<% end %>
<%# <%= paginate @shipments, window: 2 %> %>
  </div>